@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-formula-black: var(--font-formula-black);
  --font-formula-bold: var(--font-formula-bold);
  --font-field: var(--font-field);
}

body {
  background: radial-gradient(circle at top, #262859 0%, #000 70%) no-repeat
    center / 100% 100%;

  color: var(--foreground);
}
